:root {
  --primary-color: #6e5773;
  --second-color: #d45d79;
  --background-color: #e9e2d0;
  --box-shadow: 9px 10px 24px -9px rgba(0, 0, 0, 0.43);
}

h1 {
  font-size: 75px !important;
  color: var(--primary-color);
  margin: 0;
}

h2 {
  font-size: 48px !important;
  color: var(--primary-color);
}

h3 {
  color: var(--second-color);
}

/* .text-center {
  text-align: center;
} */

.links-btn {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.primary-contact-link {
  padding: 20px 20px;
  margin-right: 20px;
  background-color: var(--background-color);
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.contact-link:hover {
  border: solid 1px var(--background-color);
  background: white;
  text-decoration: underline;
}

.about-link {
  border: solid 1px var(--background-color);
  padding: 20px 20px;
  margin-left: 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  color: var(--primary-color);
}

.about-link:hover {
  background-color: var(--background-color);
  text-decoration: underline;
}

.back-link,
.contactme-link {
  display: block;
  text-align: center;
  margin: 20px 0 30px 0;
  color: var(--second-color);
  font-size: 18px;
}

.about-content {
  display: flex;
  justify-content: center;
}

.about-content p {
  margin: 20px 20px;
}

.about-text {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-color);
}

.primary-link {
  padding: 20px 20px;
  margin: 0px 20px 0px 20px;
  background-color: var(--background-color);
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.project-title {
  margin: 0 20px 0 20px;
}

.project-text {
  margin: 0px 20px 0px 20px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-color);
}
